/*base*/
@import'../base/layout.css';

@import'../base/base.css';

/*3rd-party*/
/*components*/
/*CUSTOM STYLE BELOW THIS COMMENT*/
/**/

.logo {
width: 50px;
}
.main-title {
font-size: 80px;
text-transform: uppercase;
}
.main-description {
font-size: 20px;
}